@import "tailwindcss";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
  scroll-behavior: smooth;
}

body {
  @apply px-2 md:px-3 lg:px-20 xl:px-40 bg-slate-50
}

@layer utilities {
  @media (max-width: 774px) {
    .product-card {
      height: 240px;
    }

    .product-card>div {
      height: 250px;
    }

    .product-card>div>div:first-child {
      height: 160px;
    }

    .product-card>div>h3 {
      font-size: 1rem;
      padding: 0.5rem 0;
    }

    .product-card>div>span {
      font-size: 1.125rem;
    }

    .product-card>div>div>svg {
      font-size: 1.125rem;
    }
  }
}